---
layout: article
---
<div class="row">
  <div class="col-md-12">
    <img src="{{ site.url }}/images/pages/news.jpg" alt="{{ page.title }}">
  </div>
</div>
			<section class="main-container">

				<div class="container">
					<div class="row">

						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-12">

							<!-- page-title start -->
							<!-- ================ -->
							<h1 class="page-title">{{ page.title }}</h1>
							<!-- page-title end -->

							<!-- blogpost start -->
							<article class="clearfix blogpost full">
								<div class="blogpost-body">
									<div class="side">
										<div class="post-info">
											<span class="day">{{ page.date | date:"%d" }}</span>
											<span class="month">{{ page.date | date:"%b %Y" }}</span>
										</div>
										
									</div>
									<div class="blogpost-content">
									<div style="text-indent:2em">
										{{ content }}
										</div>
									</div>
								</div>

							</article>
							<!-- blogpost end -->


						</div>
						<!-- main end -->


					</div>
				</div>
			</section>
			<!-- main-container end -->